[Desktop Entry]
Name=Repositories Manager
GenericName=Repositories Manager App
Comment=Application to manage repositories
Categories=Utility;Network;System;
Exec=com.github.bartzaalberg.repositories-manager-wizard
Icon=com.github.bartzaalberg.repositories-manager
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=repositories
Keywords=GUI;Repositories;Manager;
